<h1> Recipes</h1>
<h3> List of recipes </h3>
<%= link_to "Create new recipe", 
            new_recipe_path %>
<% if @recipes.any? %>
        <% @recipes.each do |recipe| %>
            <section>
                <div>
                     <%= link_to recipe.name, 
                     recipes_path(current_user, recipe),
                        method: :get %> 
                        <%= button_to "remove", 
                            user_recipe_path(current_user, recipe),
                            method: :delete %> 
                </div>

                 <div>
                        <%= recipe.description %>
                </div>
            </section>
        <% end %>
<% else %>
    <p> There are no recipes yet. </p>
<% end %>
