<div class="recipe_container">
<h1>Recipes</h1>
<h3>List of recipes</h3>
<%= link_to "Create new recipe", new_recipe_path, class: "create-recipe-link" %>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <div class="recipe_wrapper">
      <div>
        <%= link_to recipe.name, recipe_path(recipe), method: :get, class: "recipe-link" %>
        <%= button_to "remove", recipe_path(recipe), method: :delete, class: "remove-button" %>
      </div>

      <div>
        <%= recipe.description %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>
</div>