<div class="food_table_container">
  <a href="<%=request.path%>/new">
    <%= link_to new_food_path(), class: "links" do %>
      Add food
    <% end %>
  </a>

  <div class="food_table_wrapper">
    <div>
      <table class="food_table">
        <thead>
          <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
       
      </table>
    </div>
  </div>

</div>